@font-face {
  font-family: "Phosphor-Fill";
  src: url("./Phosphor-Fill.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ph-fill {
  font-family: "Phosphor-Fill" !important;
}
